doctype html
html
  head
    meta(charset='utf-8')
    title= 'board'
    style
        include ../app_style.css
  body
    div(class='join')
      h1= 'Join'
      form(action="/join" method="post")
        p
          input(type="text" name="username" placeholder="username")
        p
          input(type="text" name="displayname" placeholder="displayname")
        p
          input(type="password" name="password" placeholder="password")
        p
          input(type="submit"  value="submit")

      a(href='/login' class='box') Login
      |&ensp;
      a(href='/home' class='box') Home
